<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aptiv.aptivusbotg"
    android:sharedUserId="android.uid.system">

    <uses-feature android:name="android.hardware.usb.host" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_BROADCAST_RADIO" />

    <protected-broadcast android:name="OTA_EXTERNAL_PATH" />
    <protected-broadcast android:name="OTA_EXTERNAL_PATH2" />
    <protected-broadcast android:name="OTA_PROXY_SERVICE_INIT_VEHICLE_HAL" />
    <protected-broadcast android:name="OTA_PROXY_SERVICE_SWITCH_TO_EMERGENCY_QNX" />
    <protected-broadcast android:name="intent.action.aptivusbotg.MEDIA_MOUNTED" />

    <application
        tools:replace="android:appComponentFactory"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:allowBackup="false"
        android:persistent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AptivUsbOtg">

        <!-- 解决 authorities 冲突的 provider 声明 -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:replace="android:authorities"
            android:exported="false" />

        <receiver android:name="com.aptiv.aptivusbotg.UsbDT" />

        <!-- 支持自启动的 receiver，添加了 BOOT_COMPLETED 监听 -->
        <receiver android:name=".UsbOtgStart"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".OtaProxyService"
            android:enabled="true"
            android:exported="true">

            <intent-filter>
                <action android:name="com.aptiv.aptivusbotg.OtaProxyService" />
                <action android:name="intent.action.aptivusbotg.MEDIA_MOUNTED" />
                <action android:name="OTA_EXTERNAL_PATH" />
                <action android:name="OTA_EXTERNAL_PATH2" />
                <action android:name="OTA_PROXY_SERVICE_INIT_VEHICLE_HAL" />
                <action android:name="OTA_PROXY_SERVICE_SWITCH_TO_EMERGENCY_QNX" />
            </intent-filter>

        </service>

    </application>

</manifest>